.CutList {
  width: 100%;
  height: 400px;

  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;

  h2 {
    color: rgb(199, 199, 199);
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
  }

  .params {
    display: flex;
    align-items: flex-start;
    gap: 50px;

    h3 {
      color: rgb(199, 199, 199);;
      font-size: 16px;
      font-weight: 700;
      letter-spacing: 1.5px;
      text-transform: uppercase;
    }
  }

  .cuts {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 3px;
    gap: 10px;
    padding: 20px;
    overflow-y: scroll;
    width: 550px;
    height: 400px;
    box-shadow: inset 5px 5px 18px black;
    color: rgb(199, 199, 199);;

    .cut {
      display: flex;
      align-items: center;
      gap: 5px;
      border-radius: 5px;
      box-shadow: 3px 3px 18px black;
      padding: 5px;

      label {
        color: #1e212d;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 1.5px;
        text-transform: uppercase;
      }

      input {
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        background-color: #1e212d;
        width: 100px;
        height: 40px;
        padding: 5px 10px;
        font-size: 18px;
        outline: none;
        border: 1px solid #1e212d;
        border-radius: 3px;
        color: rgb(173, 173, 173);
      }

      button {
        background: rgb(98, 98, 98);
        color: rgb(230, 230, 230);
        border-radius: 3px;
        border: none;
        outline: none;
        width: 80px;
        height: 40px;
        cursor: pointer;
      }

      button:hover {
        background: rgb(137, 60, 60);
      }
    }
  }
}
